body {
  font-family: Arial;
  margin: 0;
  background: #f9f9f9;
}


header {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: red;
}

.search {
  width: 40%;
  padding: 7px;
  border: 1px solid #ccc;
}


.sidebar {
  width: 170px;
  float: left;
  border-right: 1px solid #ddd;
  padding: 10px;
  background: #fff;
}

.sidebar a {
  display: block;
  margin-bottom: 12px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.sidebar hr {
  margin: 15px 0;
}


.main {
  margin-left: 180px;
  padding: 15px;
}


.chips {
  margin-bottom: 15px;
  white-space: nowrap;
}

.chips button {
  padding: 6px 12px;
  margin-right: 8px;
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 16px;
  cursor: pointer;
}

.chips button:hover {
  background: #ddd;
}


.videos {
  display: inline-block;
}

.video {
  width: 230px;
  display: inline-block;
  margin: 10px;
  vertical-align: top;
}

.thumb {
  width: 100%;
  height: 130px;
  background: #ddd;
  border-radius: 8px;
}

.title {
  font-size: 14px;
  font-weight: bold;
  margin-top: 6px;
}

.channel {
  font-size: 12px;
  color: #555;
}
/*prof ta um pouco mais simples pq to meio sem tempo*/