@font-face {
    font-family: 'Dosis';
    src: url('assets/fontes/Dosis-VariableFont_wght.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'LibreBaskerville';
    src: url('assets/fontes/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArchitectsDaughter';
    src: url('assets/fontes/ArchitectsDaughter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    font-family: 'Dosis', sans-serif;
    background-color: #c5dbf2;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
}

.nav-left {
    display: flex;
    gap: 25px;
    flex: 1;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.logo-center img {
    width: 150px;
    margin-left: -80px; 
}

.right-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
    justify-content: flex-end;
}

.top-icons {
    width: 75px;
}

.right-buttons a {
    padding: 10px 18px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
}

.login {
    border: 1px solid #000;
    color: #000;
}

.signup {
    background-color: #0a6753;
    color: #fff;
}



.container {
    display: flex;
    padding: 120px 80px;
    gap: 50px;
}

.text-section {
    width: 50%;
    font-family: 'LibreBaskerville', serif;
}

.text-section h1 {
    font-size: 50px;
    line-height: 1.1;
    color: #2c3c3c;
    font-weight: 400;
}

.text-section p {
    font-size: 22px;
    color: #4f5f5f;
    margin-top: 25px;
    margin-bottom: 40px;
    width: 90%;
}

.text-section button {
    background-color: #145c47;
    color: white;
    padding: 16px 36px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}



.image-section {
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}



.main-box {
    font-family: 'ArchitectsDaughter';
    color: #ea745d;

    width: 480px;
    height: 350px;

    background-color: #f7d4c5;
    border-radius: 10px;

    padding: 40px;
    box-sizing: border-box;

    
    position: relative;
}

.main-box h3 {
    position: absolute;
    text-align: center;
    top: 0%;
    
}

.icon-cart {
    width: 28px;
    position: absolute;
    left: 30px;
    top: 30px;
}

.product-img {
    width: 180px;
    position: absolute;
    left: 50px;
    bottom: 50px;
}

.main-box h3 {
    position: absolute;
    bottom: 80px;
    left: 0;
    width: 100%;
    font-size: 28px;
}

.dots {
    width: 28px;
    position: absolute;
    right: 30px;
    top: 25px;
}



.cart-box {
    position: absolute;
    right: -40px;
    bottom: -20px;

    width: 260px;
    background-color: white;
    padding: 20px;

    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);

    font-family: 'LibreBaskerville';
}

.cart-box strong {
    font-size: 18px;
}

.cart-box img {
    width: 50px;
    margin: 10px 0;
}

.checkout-btn {
    display: block;
    background-color: #0c6e52;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
}

#aumentar {
    width: 260px;
    height: 150px;
}

#diminuir {
    width: 30px;
}
