/*Fonte usada: Verdana ou Tahoma Backgound color: #000066*/

body {
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center ;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000066;
    background-image: url(img/img.jpeg);
    color: white;
}

h1, p, footer {
    background-color: black;
}

h1, footer {
    text-align: center;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 32px;
}

footer {
    font-size: 29px;
}
    
    